<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017991836538-q54r0m2hh3m5hu96k1i2n27e4ufnrkkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017991836538-q54r0m2hh3m5hu96k1i2n27e4ufnrkkf</string>
	<key>API_KEY</key>
	<string>AIzaSyCQY900CUko2JTQV2idWz2SeUZuTSaCeyo</string>
	<key>GCM_SENDER_ID</key>
	<string>1017991836538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.bot-main-app</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-bloc-d1201</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-bloc-d1201.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017991836538:ios:1f6421a500eb1cf4b0dcc3</string>
</dict>
</plist>